* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(155, 155, 155);
  color: black;
}
.chapters {
  position: fixed;
  right: 0;
  top: 0;
  text-decoration: none;
}
h2 {
  text-align: center;
}
div {
  color: red;
}
#text1 {
  font-style: italic;
}
#text2 {
  text-decoration: underline;
  color: green;
}
#mark4 {
  text-decoration: line-through;
}
#textmark {
  background-color: grey;
  border: 2px solid white;
}
